{{- $needsDbPassword := and (not (and (not .Values.postgresql.enabled) .Values.externalDatabase.existingSecret)) (not (and .Values.postgresql.enabled .Values.postgresql.auth.existingSecret)) -}}
{{- $needsSessionUri := not .Values.sessionDb.existingSecret -}}
{{- $needsS3 := and (or .Values.minio.enabled .Values.externalS3.enabled) (not (and .Values.externalS3.enabled .Values.externalS3.existingSecret)) (not (and .Values.minio.enabled .Values.minio.auth.existingSecret)) -}}
{{- if or $needsDbPassword $needsSessionUri $needsS3 }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "odoo.fullname" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if $needsDbPassword }}
  db-password: {{ include "odoo.resolveDbPassword" . | quote }}
  {{- end }}
  {{- if $needsSessionUri }}
  session-db-uri: {{ include "odoo.sessionDbUri" . | quote }}
  {{- end }}
  {{- if $needsS3 }}
  s3-access-key: {{ include "odoo.resolveS3AccessKey" . | quote }}
  s3-secret-key: {{ include "odoo.resolveS3SecretKey" . | quote }}
  {{- end }}
{{- end }}
